@import url(https://fonts.googleapis.com/css?family=Roboto:400,900,700,500);

.body-text {
  padding: 0 20px 30px 20px;
  font-family: "Roboto";
  font-size: 1em;
  color: #333;
  text-align: center;
  line-height: 1.2em;
}
.form-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-wrapper {
  background-color: #6FB7E9;
  width: 100%;
  display: flex;

}
.personal-information {
  background-color: #3C8DC5;
  color: #fff;
  padding: 1px 0;
  text-align: center;
}
h1 {
  font-size: 1.3em;
  font-family: "Roboto"
}
input {
  margin: 1px 0;
  padding-left: 3%;
  font-size: 14px;
}
input[type="text"]{
  display: block;
  height: 50px;
  width: 97%;
  border: none;
}
input[type="submit"]{
  display: block;
  height: 60px;
  width: 100%;
  border: none;
  background-color: #3C8DC5;
  color: #fff;
  margin-top: 2px;
  curson: pointer;
  font-size: 0.9em;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}
input[type="submit"]:hover{
  background-color: #6FB7E9;
  transition: 0.3s ease;
}
#column-left {
  width: 46.8%;
  float: left;
  margin-bottom: 2px;
}
#column-right {
  width: 46.8%;
  float: right;
}
.n8WyS45z_FVci1BDsHQGe:before {
    content: "";
    position: absolute;
    top: 10px;
    width: 100%;
    height: 40px;
    background-color: #1b1b1b;
    left: 0px;
}
.content-buy-now {
    padding: 2em 2em 0em 2em;
    display: flex;
    width: 100%;
    height: 86%;
}
.methodpag {
    width: 45%;
    margin-left: 2em;
    padding-right: 4em;
    overflow-y: auto;
    height: 86%;
    padding-bottom: 5em;
}
form.form-credit-card {
    zoom: 80%;
    border-radius: 5px;
    box-shadow: rgba(0,0,0,.1) 0 0 10px;
}
.card-wrapper {
    background-color: #6FB7E9;
    width: 100%;
    display: flex;
    padding: 2em 0em;
}
.hQ2zbRipnDD-I93UK4cyA {
    -webkit-perspective: 1000px;
    perspective: 1000px;
    margin: auto;
}
.paypal-login {
    margin-top: 2em;
    background: #fff;
    box-shadow: rgba(0,0,0,.1) 0 0 10px;
    border-radius: 5px;
    padding: 2em;
}
.login-paypal .login {
    margin-top: 1em;
}
.login-paypal .login input {
    background: #ddd;
}
.methodpag .content-buy {
    padding: 0em;
    width: 100%;
}
.methodpag .content-buy button.buy {
    border-radius: 0px;
    width: 100%;
    height: 55px;
}
form.form-credit-card[disabled], .paypal-login[disabled], .methodpag .content-buy[disabled] {
    display: none;
}
.content-type-method .content-buy button {
    margin: auto;
}
.content-type-method .content-buy button.buy {
    margin-right: 0em;
    border-radius: .25rem 0rem 0rem .25rem;
}
.content-type-method .content-buy button.more {
    margin-left: 0em;
    border-radius: 0rem .25rem .25rem 0rem;
}
.content-type-method strong {
    color: #555;
}
.content-type-method .content-buy button.buy[disabled], .content-type-method .content-buy button.more[disabled] {
    opacity: .8;
}
.content-bid {
    width: 50%;
}
.divisor {
    width: 2px;
    height: 85%;
    background: #ccc;
    margin: auto;
    border-radius: 2em;
}
.content-info-farm p {
    font-size: .9em;
    padding: 0em;
    margin: auto;
}
.content-info-farm {
    margin-bottom: 1em;
}
.content-type-method {
    margin-top: 1em;
}
.divisor.x {
    width: 55%;
    height: 2px;
    background: #ccc;
    margin: auto;
    border-radius: 2em;
}
.bid[disabled] {
    display: none;
}
.bid {
    width: 55%;
    min-width: 370px;
    margin-left: 22%;
    background: #193661ab;
    padding: 3px 3px 3px 3px;
    border-radius: 3px;
    box-shadow: rgba(0,0,0,.2) 0 0 10px;
}
.bid p {
    color: #fff;
}
.content-input {
    display: flex;
    text-align: center;
    margin: auto;
}
.bid .content-input title {
    display: block;
    margin: auto 1em;
    color: #fff;
}
.bid h5 {
    color: #fff;
    font-size: 1em;
}
.bid small {
    font-size: 1em;
    color: #ececec;
}
.bid .content-input input {
    margin: auto 0em;
}

@media only screen and (max-width: 480px){
  body {
    width: 100%;
    margin: 0 auto;
  }
  .form-container {
    margin: 0 2%;
  }
  input {
    font-size: 1em;
  }
  #input-button {
    width: 100%;
  }
  #input-field {
    width: 96.5%;
  }
  h1 {
    font-size: 1.2em;
  }
  input {
    margin: 2px 0;
  }
  input[type="submit"]{
    height: 50px;
  }
  #column-left {
    width: 96.5%;
    display: block;
    float: none;
  }
  #column-right {
    width: 96.5%;
    display: block;
    float: none;
  }
}